.index-title {
  text-align: left;
  color: $pink;
}

.index-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-unicorn {
  overflow: hidden;
  height: 120px;
  background: $white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: $pink;
}

.card-unicorn img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-unicorn .card-unicorn-infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.unicorn {
  color: $pink;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unicorn-infos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: $pink;
}

.unicorn-infos img {
  height : 60vh;
}
