.navbar-nextie {
  height: 10vh;
  background: $purple;
}

.navbar-nextie-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar-nextie a {
  color: $white;
  text-decoration: none;
}
